/.phpunit.cache
/node_modules
/public
/vendor
.phpunit.result.cache
composer.lock
yarn.lock
phpunit.xml
stats.html

# Playwright
.env
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests/playwright/**/*-darwin.png
/lighthouse
