/.phpunit.cache
/node_modules
/public
/vendor
.phpunit.result.cache
composer.lock
yarn.lock
phpunit.dusk.xml
phpunit.xml
stats.html

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
