{
    "wrapAttributes": "force-expand-multiline",
    "sortTailwindcssClasses": true,
    "sortHtmlAttributes": "code-guide",
    "noPhpSyntaxCheck": true,
    "semi": false,
    "singleQuote": true,
    "overrides": [
        {
            "files": ["*.blade.php"],
            "options": {
                "parser": "blade"
            }
        }
    ]
}
