/public
/vendor
.github
.git
**/*.php
!**/*.blade.php
/resources/views/cart/queries/*.graphql
/resources/views/cart/queries/**/*.graphql
/resources/views/checkout/queries/*.graphql
/resources/views/checkout/queries/**/*.graphql
/resources/views/customer/queries/*.graphql
/resources/views/customer/queries/**/*.graphql
composer.lock
CHANGELOG.md
