@tailwind base;
@tailwind components;
@tailwind utilities;

[v-cloak] {
    display: none;
}

[v-blur] {
    @apply animate-pulse blur;
}

@view-transition {
    navigation: auto;
}

* {
    -webkit-tap-highlight-color: transparant;
}

listing,
autocomplete {
    /*  Reset browser added styling causing unexpected behavior */
    display: contents;
    font-family: unset;
    unicode-bidi: unset;
    margin: unset;
    white-space: unset;
}

/* Remove default browser arrows for input type="number" */
.arrows-hidden[type='number']::-webkit-inner-spin-button,
.arrows-hidden[type='number']::-webkit-outer-spin-button {
    @apply appearance-none m-0;
}

/* Firefox */
.arrows-hidden[type='number'] {
    -moz-appearance: textfield;
}

mark {
    @apply bg-transparent font-bold;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

.custom-select {
    background-position: right center;
    field-sizing: content;
}

@supports (interpolate-size: allow-keywords) {
    :root {
        interpolate-size: allow-keywords;
    }
}

.turbo-progress-bar {
    @apply bg-primary;
}