@import 'components/vue-slider';
@import 'components/price-slider';
@import './theme-variables';
@import './components/autocomplete';
@import './components/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;

[v-cloak] {
    display: none;
}
[v-blur] {
    @apply animate-pulse blur;
}
* {
    -webkit-tap-highlight-color: transparant;
}
listing {
    /*  Reset browser added styling causing unexpected behavior */
    display: contents;
    font-family: unset;
    unicode-bidi: unset;
    margin: unset;
    white-space: unset;
}
