/*
All colors are defined in rapidez/blade-components, see:
https://github.com/rapidez/blade-components/tree/master/resources/css

For more information: https://docs.rapidez.io/5.x/theming.html#colors
*/

@theme {
    --z-index-header: 100;
    --z-index-header-autocomplete-overlay: 10;
    --z-index-header-autocomplete: 20;
    --z-index-header-dropdown: 30;
    --z-index-header-minicart: 30;
    --z-index-header-autocomplete-button: 30;

    --z-index-notifications: 110;

    --z-index-popup: 130;
    --z-index-popup-actions: 10;

    --z-index-cookie: 140;

    --animate-loading: loading 1s infinite;

    @keyframes loading {
        0% {
            left: 0%;
            width: 0%;
        }
        50% {
            left: 0%;
            width: 100%;
        }
        100% {
            left: 100%;
            width: 0%;
        }
    }
}

@utility container {
    margin-inline: auto;
    padding-inline: 1.25rem;
}

[v-cloak] {
    display: none;
}

[v-blur] {
    @apply animate-pulse blur-sm;
}

@view-transition {
    navigation: auto;
}

listing,
autocomplete {
    /*  Reset browser added styling causing unexpected behavior */
    display: contents;
    font-family: unset;
    unicode-bidi: unset;
    margin: unset;
    white-space: unset;
}

mark {
    @apply bg-transparent font-bold;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
    display: none;
}

.custom-select {
    background-position: right center;
    field-sizing: content;
}

.turbo-progress-bar {
    @apply bg-primary;
}

/* This is the animation for the add to cart */
.button-loading {
    @apply overflow-hidden bg-conversion/20 hover:bg-conversion/20 !cursor-progress before:absolute before:block before:h-1 before:bg-conversion before:top-0 before:left-0 before:w-4;
}

.button-loading:before {
    @apply animate-loading;
}
