:root {
    --primary: 47 188 133;
    --primary-text: 255 255 255;
    --secondary: 249 115 22;
    --secondary-text: 255 255 255;
    --neutral: 51 65 85;
    --inactive: 100 116 139;
    --inactive-100: 244 247 248;
    --highlight: 241 245 249;
    --border: 231 235 239;
}
