:root {
    --primary: #2fbc85;
    --primary-text: #ffffff;

    --secondary: #202F60;
    --secondary-text: #ffffff;

    /*
    Optionally you could define/overwrite
    more variables in this file:

    --foreground: #334155;
    --border: #e7ebef;
    --background: #f1f5f9;
    */
}
