div.vue-slider {
    @apply mt-5 mb-3.5 max-w-sm;
}

div.vue-slider-process,
div.vue-slider-rail {
    @apply h-2! bg-primary!;
}

div.vue-slider-rail {
    @apply bg-emphasis!;
}

div.vue-slider .vue-slider-dot {
    @apply size-6!;
}

div.vue-slider-dot-tooltip-inner {
    @apply bg-white! text! border! border-default! px-1.5!;
}

span.vue-slider-dot-tooltip-text {
    @apply font-medium font-sans text;
}

div.vue-slider-dot-tooltip::before {
    @apply hidden;
}

div.vue-slider-dot .vue-slider-dot-handle {
    @apply border border-border shadow-sm;
}

div.vue-slider-tooltip-wrap.vue-slider-tooltip-top {
    @apply font-sans;
}

.price-input {
    @apply space-x-3;
}

.vue-slider-component.vue-slider-horizontal {
    @apply mt-5;
}
