/*Can we remove this file?*/
.vue-slider {
    @apply mx-2;
}

.vue-slider-dot-tooltip-inner {
    @apply border-primary bg-primary !important;
}

.vue-slider-process {
    @apply bg-primary !important;
}
