/* Used by the slide over */
@media (min-width: 768px) {
    .md\:hidden-important {
        display: none !important;
    }
    .md\:block-important {
        display: block !important;
    }
}

/* Used by the filters */
.max-h-none-important {
    max-height: none !important;
}

/* Used to not have a blue background on tapping a button on mobile. */
* { -webkit-tap-highlight-color: rgba(0,0,0,0); }

