name: dusk

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *'

jobs:
  dusk:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - magento-version: 2.4.2-p2
            magento-php-version: php74-fpm
            rapidez-php-version: 8.0
          - magento-version: 2.4.2-p2
            magento-php-version: php74-fpm
            rapidez-php-version: 8.1
          - magento-version: 2.4.3-p2
            magento-php-version: php74-fpm
            rapidez-php-version: 8.0
          - magento-version: 2.4.3-p2
            magento-php-version: php74-fpm
            rapidez-php-version: 8.1
          - magento-version: 2.4.4-p2
            magento-php-version: php81-fpm
            rapidez-php-version: 8.0
          - magento-version: 2.4.4-p2
            magento-php-version: php81-fpm
            rapidez-php-version: 8.1
          - magento-version: 2.4.5-p1
            magento-php-version: php81-fpm
            rapidez-php-version: 8.0
          - magento-version: 2.4.5-p1
            magento-php-version: php81-fpm
            rapidez-php-version: 8.1

    services:
      magento:
        image: michielgerritsen/magento-project-community-edition:${{matrix.magento-php-version}}-magento${{matrix.magento-version}}-sample-data
        env:
          URL: http://localhost:1234/
          FLAT_TABLES: true
        ports:
          - 3307:3306
          - 1234:80

    name: P${{ matrix.rapidez-php-version }} - M${{matrix.magento-version}} on ${{matrix.magento-php-version}}

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.rapidez-php-version }}
          extensions: mbstring, dom, fileinfo, mysql
          coverage: none

      - name: Install dependencies
        run: composer install --prefer-dist --no-interaction

      - name: Prepare Laravel Dusk
        run: composer run dusk:prepare

      - name: Compile assets
        run: composer run dusk:assets

      - name: Wait for index to finish
        run: for i in {1..60}; do [[ $(mysql -h 127.0.0.1 -u magento -pmagento -ss -r -e "CALL sys.table_exists('magento', 'catalog_product_flat_1', @exists); SELECT @exists;") == *"BASE TABLE"* ]] && break || sleep 5; done

      - name: Execute tests
        run: composer run dusk:test

      - name: Upload Artifact
        if: failure()
        uses: actions/upload-artifact@v2
        with:
          name: artifact
          path: |
            tests/Browser/screenshots
            tests/Browser/console
            vendor/orchestra/testbench-dusk/laravel/storage/logs/laravel.log
